@mixin max-size() {
  max-width: $max-width;
  width: 100%;
}

@mixin force-size($width, $height) {
  max-width: $width;
  max-height: $height;
  min-width: $width;
  min-height: $height;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
