$max-width: 960px;
$navbar-height: 48px;
$nav-transition-timing: 250ms ease-out 50ms;
$second-level-z-index: 3;
$third-level-z-index: 5;
$forth-level-z-index: 7;
$highest-level-z-index: 99999999999999;
