/* Background */

$body-background: #000000;
$main-background: #0a090c;
$input-background: #131217;
$loading-background: #706c61;
$hover-background: rgba(28, 109, 176, 0.4);
$hint-background: rgba(255, 255, 255, 0.8);

/* Border */

$extra-light-border: #1c6db0;
$light-border: #0d3759;
$dark-border: #b8d9f4;
$input-focus-border: #77b6ea;

/* Text */

$home: #ffffff;
$hint-color: #000000;
$text-color: #ffffff;
$invert-text-color: #000000;
$current-page: #80aedf;
$current: #80aedf;
$read: #bcd5f0;
$light-text: #d4d4d4;
