/* Background */

$body-background: #f5f5f5;
$main-background: #ffffff;
$input-background: #f1f1f1;
$loading-background: #a9a9a9;
$hover-background: rgba(85, 205, 252, 0.4);
$hint-background: rgba(0, 0, 0, 0.8);

/* Border */

$extra-light-border: #edeff1;
$light-border: #e5e4e2;
$dark-border: #c0c0c0;
$input-focus-border: #b2beb5;

/* Text */

$home: #000000;
$hint-color: #ffffff;
$text-color: #000000;
$invert-text-color: #ffffff;
$current-page: #80aedf;
$current: #bbfdb4;
$read: #bcd5f0;
