.login.container-sm {
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  height: calc(100vh - #{$navbar-height} - 40px);
  margin: 20px auto;
  padding-top: 32px;
}

a.login {
  @include center();
  max-width: 100%;
  width: 150px;
  height: 32px;
  font-weight: 600;
  border: 1px solid $light-border;
}
