nav {
  position: sticky;
  z-index: $third-level-z-index;
  top: 0;
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-width: 100%;
  max-height: $navbar-height;
  background-color: $main-background;
  transition: all $nav-transition-timing;

  &.hide {
    position: relative;
    margin-top: -48px;
  }
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 8px 20px;
  border-bottom: 1px solid $light-border;
  border-radius: 0;
  border-right: 0;
}

.nav {
  margin-right: 8px;
}

.nav-home {
  margin-right: auto;
  font-family: "Lato Black";

  a {
    color: $home;
  }
}

/* Nav Profile */

li.nav-profile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-left: 5px;
  border: 1px solid $main-background;

  &:hover,
  &.active {
    border-color: $extra-light-border;
    max-height: fit-content;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.nav-profile.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 8px;

  :last-child {
    margin-left: 5px;
  }
}

.profile.round {
  @include circle(32px);
  border: 1px solid $main-background;
}

.nav-profile.actions {
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: $second-level-z-index;
  display: flex;
  flex-direction: column;
  width: calc(100% + 2px);
  padding: 5px;
  border: 1px solid $extra-light-border;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: unset;
  background-color: $main-background;

  > * {
    display: flex;
    margin-left: 32px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-weight: 600;
  }

  > *:not(:first-child) {
    margin-top: 3px;
  }
}

/* Navbar Search and Search Results */

.nav-search {
  @include bevel(24px);
  position: relative;
  width: 196px;

  &.active {
    width: 400px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: unset;

    > input {
      background-color: $main-background;
    }
  }

  > input {
    padding: 0 10px;
    border: 1px solid $light-border;
  }
}

ul.search {
  position: absolute;
  z-index: $forth-level-z-index;
  top: 100%;
  max-height: 50vh;
  height: fit-content;
  width: 100%;
  padding: 5px;
  border: 1px solid $light-border;
  border-top: unset;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: $main-background;
  overflow-y: scroll;

  &.hide {
    display: none;
  }
}

.search.result:not(.wrapper) {
  display: flex;
  flex-flow: column nowrap;

  &:not(:last-child)::after {
    content: "";
    width: 80%;
    height: 1px;
    margin: 8px auto;
    background-color: $dark-border;
  }
}

.search.wrapper.result {
  display: flex;
}

.search.wrapper:not(.result) {
  max-width: 100%;
  margin-left: 5px;
  word-wrap: break-word;
  word-break: break-all;
}

.search.manga-metadata {
  display: flex;

  * {
    font-size: 14px;
    color: $light-text;
  }

  .divider {
    background-color: $light-text;
  }
}
