.chapter-list.main-background {
  flex-flow: column nowrap;
  align-items: center;
  min-height: 453px;
  margin-left: 30px;
}

.arrow-container.chapter-list {
  max-width: 200px;

  &.align-btm {
    justify-content: center;
    margin-top: auto;
  }
}

button.chapter-list {
  @include force-size(20px, 20px);
  @include center();
  font-weight: 300;

  &.current {
    font-weight: 700;
    font-family: "Lato Bold";
  }
}

ul.chapter-list {
  flex-grow: 1;
  width: 100%;
}

.languages-list {
  display: flex;
  align-items: center;

  .current {
    font-weight: 700;
    font-family: "Lato Bold";
  }
}

.manga.languages {
  display: flex;
  align-items: center;
  height: 100%;

  button {
    padding: 2px 4px;
    font-size: 16px;
  }

  &:not(:last-child)::after {
    $height: 60%;
    content: "";
    display: inline-block;
    width: 1px;
    min-height: $height;
    max-height: $height;
    margin: auto 4px;
    background-color: $light-border;
  }
}

.chapter-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

li.chapter-list-item {
  flex-flow: row wrap;
  min-height: 30px;
  padding: 0 4px;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    margin: 4px auto;
    background-color: $light-border;
  }
}

.chapter-list-item.metadata > * {
  display: flex;
  align-items: center;

  &:first-child::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 50%;
    margin: 0 8px;
    margin-top: 3px;
    background-color: #000000;
  }

  &:nth-child(2) {
    margin-right: 12px;
  }
}

.dot-placeholder {
  @include center();
  min-width: 20px;
  user-select: none;
}

.chapter-list-bottom-buttons {
  display: flex;
  height: 32px;
  margin: auto 0;
  margin-bottom: 5px;

  * {
    @include bevel(32px);
    @include center();
    padding: 8px;
    padding-bottom: 12px;
  }

  *:hover {
    background-color: $hover-background;
  }
}
