.manga.container {
  display: flex;
  padding: 8px;

  > * {
    flex-basis: 50%;
  }
}

.manga.metadata {
  > * {
    margin-bottom: 3px;
  }
  .publication-status,
  h3 {
    margin-left: 25px;
  }

  .center-row {
    margin-bottom: 5px;
  }

  .vertical-icon-container {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 0;
  }
}

.manga-info:not(.anilist-status),
.chapter-list.main-background:not(.anilist-status) {
  display: flex;
  padding: 8px;
}

.manga-info {
  &.wrapper {
    flex-flow: column nowrap;
  }

  &:not(.wrapper) *:not(img.cover, .overlay, .star) {
    margin-right: 5px;
  }
}

.manga.metadata {
  display: flex;
  flex-flow: column nowrap;
}

.manga.synopsis {
  max-height: 33vh;
  overflow-y: scroll;
}

div.anilist-status {
  margin-right: 0;
  background-color: unset;
}

.manga-info div.cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .corner-arrows,
    .overlay {
      display: block;
    }
  }
}

.manga-info .anilist.divider {
  margin-top: 5px;
}

.manga-info .anilist-link {
  display: flex;
  align-items: center;
  width: fit-content;

  span {
    display: flex;
    min-width: 75px;
    padding: 0 4px;
    padding-bottom: 3px;
  }

  .hint {
    left: -40px;
    justify-content: center;
    width: 100px;
  }
}

.manga-info .arrow.diagonal {
  @include force-size(16px, 16px);
  stroke: $text-color;
  stroke-width: 0.4px;
  border-radius: unset;

  &:hover {
    background-color: unset;
  }
}
