.manga.container {
  display: flex;
  padding: 8px;

  > * {
    flex-basis: 50%;
  }
}

.manga.metadata {
  > * {
    margin-bottom: 3px;
  }
  .publication-status,
  h3 {
    margin-left: 25px;
  }

  .center-row {
    margin-bottom: 5px;
  }

  .vertical-icon-container {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 0;
  }
}

.manga-info,
.chapter-list.main-background {
  display: flex;
  padding: 8px;
}

.manga-info {
  &.wrapper {
    flex-flow: column nowrap;
  }

  &:not(.wrapper) * {
    margin-right: 5px;
  }
}

.manga.metadata {
  display: flex;
  flex-flow: column nowrap;
}

.manga.synopsis {
  max-height: 33vh;
  overflow-y: scroll;
}

div.anilist-status {
  margin-right: 0;
  background-color: unset;
}

.anilist-status.manga-info {
  margin-left: -8px;
}
